# Copy the line below to postgres_secret_postgres and replace <DB_O11Y_PASSWORD> below with the password for the db-o11y user
postgresql://db-o11y:<DB_O11Y_PASSWORD>@mythical-database:5432/postgres?sslmode=disable